.groups-container {
  background: rgba(34, 32, 41, 1);
  border-right: black solid 1.5px;
  min-width: 150px;
}

.notes-container {
  background: rgba(0, 0, 0, 0.9);
  border-right: black solid 1.5px;
  min-width: 320px;
}

.content-container {
  background: rgba(0, 0, 0, 0.85);
  min-width: 800px;
}

ul {
  display: flex;
  justify-content: space-between;
  height: 48px;
  font-size: 14px;

  li {
    margin: auto 30px;
  }

  .logout-button {
    margin-right: 30px;
  }
}

.logout-button {
  text-align: right;
}

.content-header {
  background-color: #383838;
  height: 50px;
}
img{
  margin-left: 20px;
  padding: 3px;
}
