<div class="content-header">
  <ul>
    <li class="user-button">My account</li>
    <li class="logout-button"><a href="" (click)="logout($event)">Logout</a></li>
  </ul>
</div>
<mat-grid-list cols="100" rowHeight="100%" gutterSize="0px">
  <mat-grid-tile class="groups-container" colspan="15">
    <app-groups></app-groups>
  </mat-grid-tile>
  <mat-grid-tile class="notes-container" colspan="25">
    <app-notes></app-notes>
  </mat-grid-tile>
  <mat-grid-tile class="content-container" colspan="60">
    <app-note-content></app-note-content>
  </mat-grid-tile>
</mat-grid-list>
