<div class="content-header">
  <ul>
    <img src="assets/images/4o5glrmp72i0s3mvdjjttup3q6-28ade0980de64c4a3ce1ac1529214d73.png" alt="">
    <li class="logout-button"><a href="" (click)="logout($event)">Logout</a></li>
  </ul>
</div>
<mat-grid-list cols="100" rowHeight="100%" gutterSize="0px">
  <mat-grid-tile class="groups-container" colspan="15">
    <app-groups style="width: 100%"></app-groups>
  </mat-grid-tile>
  <mat-grid-tile class="notes-container" colspan="25" >
    <app-notes style="width: 100%"></app-notes>
  </mat-grid-tile>
  <mat-grid-tile class="content-container" colspan="60">
    <app-note-content style="width: 100%"></app-note-content>
  </mat-grid-tile>
</mat-grid-list>
