textarea{
  margin-top: 20px;
  width: 1130px;
  height: 900px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}
textarea::first-line{
  font-size: 30px;
}

.loader{
  width: 20px;
  height: 20px;
  background: url("/client/src/assets/spiner");
}
