.basic-layout {

}

li {
  padding: 10px 30px;
  border-radius: 10px;
  width: 460px;
}

.note-date {
  font-size: 12px;
  margin-right: 10px;
}

.note-preview {
  font-size: 12px;
  opacity: 0.7;
}

.create-group-button {
  background: transparent;
  margin-bottom: 10px;
  margin-left: 10px;
}
