.basic-layout {

}

li {
  display: flex;
  padding: 10px 30px;
  border-radius: 10px;
  width: 460px;
  .action-block {
    margin-left: auto;

  }
}

.note-date {
  font-size: 12px;
  margin-right: 10px;
}

.note-preview {
  font-size: 12px;
  opacity: 0.7;
}

.create-group-button {
  background: transparent;
  margin-bottom: 10px;
  margin-left: 10px;
}

.action-button {
  background: transparent;
  max-width: 16px;
  margin-top: 20px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
