<div class="basic-layout">
  <button (click)="createNote()">
    <img src="./assets/images/playlist_add_black_24dp.svg" alt="">Create Note
  </button>
  <ul>
    <li *ngFor="let note of notes$.value" (click)="selectNoteHandler(note)" [class.selected]="note === selectedNote" >
      <div>
        <div class="note-title">
          {{(note.content.length)?
          ((note.content.length>10)? (note.content | slice:0:10)+ "...":(note.content)):("Note empty")}}</div>
        <span class="note-date">{{note.createdAt | date: 'Y-m-d H:m:s'}}</span>
        <div class="note-preview">{{(note.content.length)?
          ((note.content.length>35)? (note.content | slice:0:35)+ "...":(note.content)):("Note empty")}}</div>
      </div>
      <div class="action-block" *ngIf="selectedNote === note">
        <button class="action-button" (click)="deleteNote(note._id)" ><img src="./assets/images/delete_black_24dp.svg" alt=""></button>
      </div>
    </li>
  </ul>
</div>
