<div class="basic-layout">
  <!--  <ul>-->
  <!--    <li>-->
  <!--      <div class="note-title">qcwqe</div>-->
  <!--      <span class="note-date">2022-02-11T08:11:28.408Z</span>-->
  <!--      <span class="note-preview">qwedew</span>-->
  <!--    </li>-->
  <!--  </ul>-->
  <button (click)="createNote()">Create Note</button>
  <ul>
    <li *ngFor="let note of notes$.value" (click)="selectNoteHandler(note._id)">
      <div>
        <div class="note-title">{{note.content}}</div>
        <span class="note-date">{{note.createdAt}}</span>
        <span class="note-preview">{{note.content}}</span>
      </div>
      <div class="action-block">
        <button class="action-button" (click)="deleteNote(note._id)" ><img src="./assets/images/delete_black_24dp.svg" alt=""></button>
      </div>
    </li>
  </ul>
</div>
