.folder-icon {
  max-width: 14px;
  margin: 2px 10px;
}

.create-group-button {
  background: transparent;
  margin-bottom: 10px;
  margin-left: 10px;

  img {
    width: 15px;
    margin-right: 10px;
  }
}

.input-group-name {
  background: transparent;
  border-radius: 5px;
  border: #a58c31 solid 2px;
}

.submit-create {
  button {
    margin-left: 30px;
    background: transparent;
  }
}

li {
  display: flex;
  padding: 5px 10px 5px 0;
  border-radius: 5px;
  min-width: 160px;

  .action-block {
    margin-left: auto;
  }
}

.selectedGroup {
  background-color: #a58c31
}

.group-quantity {
  color: #c7c7bf;
  margin-left: 6px;
}

.action-button {
  background: transparent;
  max-width: 16px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

